*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.bgimg{
    background-image: url(./img/bgimg.jpg);
    height: 100vh;
    width: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}
.Baner-BG{
    background-color: rgba(235, 210, 163, 0.253);
    height: 100vh;
    width: 100%;
}
.menu{
    font-size: 20px;
}
.t1{
    font-size: 60px;
    text-align: center;
    color: white;
    padding-top: 17%;
}
.line{
    width: 50px;
    height: 2px;
    background-color:rgba(255, 68, 0, 0.925);
    margin: auto;
    margin-top: 2%;
}
.t2{
    font-size: 20px;
    text-align: center;
    color: white;
   padding-top: 1%;
}
.bt{
    background-color:rgba(255, 68, 0, 0.61);
    color: white;
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 30px;
}
.bt:hover{
    background-color: rgba(236, 77, 19, 0.925);
}

.b-1{
    background-color: rgba(233, 81, 26, 0.836);
    height: 430px;
    width: 100%;
}
.t3{
    font-size: 33px;
    text-align: center;
    color: white;
    padding-top: 6%;
   
}
.line2{
    width: 50px;
    height: 2px;
   background-color: white;
    margin: auto;
}
.t4{
    font-size: 20px;
    text-align: center;
    color: white;
    padding-top: 2%;
}

.bt1{
    background-color:white;
    color:black;
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 30px;
    margin-top: 3%;
}
.t5{
    font-size: 35px;
    text-align: center;
    padding-top: 5%;
}
.line3{
    width: 50px;
    height: 2px;
    background-color: rgba(226, 84, 32, 0.719);
    margin: auto;
}
.icon1{
    font-size: 40px;
    color: tomato;
}
.t6{
    font-size: 25px;
    text-align: center;
    color: black;
    padding-top: 2%;
}
.t7{
    font-size: 19px;
    text-align: center;
    color:gray;
    padding-top: 3%;
}
.maindiv{
    height: 300px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.808);
}
.t8{
    font-size: 40px;
    
    text-align: center;
    color: white;
    padding-top: 5%;
}
.bt2{
    background-color: white;
    color: black;
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 30px;
  margin-top: 3%;
  font-size: 13px;
}
.bt2:hover{
    background-color: gray;
}
.t9{
    font-size: 35px;
    text-align: center;
    padding-top: 10%;
}
.line4{
    width: 50px;
    height: 2px;
    background-color:rgba(231, 81, 27, 0.788);
    margin: auto;
}
.t10{
    font-size: 20px;
    text-align: center;
    color:gray;
    padding-top: 2%;
}
.c1{
   width: 500px;
    height: 50px;
    font-size: 22px;
    color: black;
    border-radius: 10px;
   margin-top: 2%;

}


.c2{
    width: 500px;
     height: 150px;
     font-size: 22px;
     color: black;
     border-radius: 10px;
     margin-top: 2%;
 }
 .bt3{
    width: 500px;
    height: 50px;
    background-color: rgba(236, 83, 27, 0.548);
    color: white;
    border-radius: 30px;
    margin-top: 4%;
 }